@font-face{
  font-family: "Starjedi";
  src: url('../fonts/Starjedi.ttf')
  format('truetype');
}

@font-face{
  font-family: "Starjhol";
  src: url('../fonts/Starjhol.ttf')
  format('truetype');
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font: 60px "Starjedi";
  text-align: center;
  color: yellow;
}

h2,
h3,
h4 {
  font-family: 'Starjedi'
}

h5 {
  text-decoration: overline;
  line-height: 5;
}

body {
  background: url("../images/background.jpg") no-repeat 0 0/cover;
}

main {
  font-family: 'Open Sans', sans-serif;
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px;
  border: 2px solid yellow;
  border-radius: 25px;
}

.learn-more a {
  background: black;
  padding: 10px 20px;
  border-radius: 10px;
  color: yellow;
  font-family: 'Open Sans', sans-serif;
}
