/*=======================================

  Universal Styling

========================================*/

@font-face{
  font-family: "Starjedi";
  src: url('../fonts/Starjedi.ttf')
  format('truetype');
}

@font-face{
  font-family: "Starjhol";
  src: url('../fonts/Starjhol.ttf')
  format('truetype');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

h1 {
  font: 60px "Starjedi";
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position; relative;
  z-index: 2;
}

.highlight {
  background-color: #eee;
}

/*=======================================


Header Styling

========================================*/

header {
  background: rgb (0 0 0 / 70%)
  padding: 30px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999999;
}

header a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 20px;
  }

  /*=======================================


  Navigation Styling

  ========================================*/

.nav {
    text-align: center;
    padding: 0;
    margin: 0;
  }
nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #333;
  background: #f2f2f2;
  padding: 30px 50px;
}

nav a:hover {
  background: #333;
  color: #f2f2f2;
  transition: .5s;
  padding: 30px 50px;
}

/*=======================================


Body Styling

========================================*/

img {
  max-width: 100%;
  max-height: 100%;
}

main {
  font-family: 'Open Sans', sans-serif;
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px;
}

.hero-content p {
  font-size: 24px;
}

img {
  float: left;
  margin: 0px 50px 50px;
}

/*=======================================

  Footer styling

========================================*/
footer {
    text-align: center;
    padding: 0;
}

.millennium {
  position: fixed;
  animation: fly 7s forwards infinite linear;
}

@keyframes fly {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(1000px);
  }
}
