/*=======================================

  Universal Styling

========================================*/

@font-face{
  font-family: "Starjedi";
  src: url('../fonts/Starjedi.ttf')
  format('truetype');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font: 60px "Starjedi";
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.highlight {
  background-color: #eee;
}

/*=======================================


Hero Styling

========================================*/

.top-hero {
  background: url('../img/star-wars.jpg') right/cover no-repeat fixed;
  min-height: 100vh;
  position: relative;
}

.hero-content {
  color: white;
  text-shadow: 4px 4px black;
  position: absolute;
  top: 40%;
  right: 5%;
}

/*=======================================


Header Styling

========================================*/

header {
  margin: 10px 0;
  padding: 30px;
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 999999;
}

header nav li {
  display: inline-block;
}

header a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  /*=======================================


  Navigation Styling

  ========================================*/

nav ul li {
  display: inline;
}

nav a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #333;
  background: #f2f2f2;
  padding: 30px 50px;
}

nav a:hover {
  background: #333;
  color: #f2f2f2;
  transition: .5s;
  padding: 30px 50px;
}

/*=======================================


Body Styling

========================================*/

body {
  background: url("../img/background.jpg") no-repeat 0 0/cover;
}


main {
  font-family: 'Open Sans', sans-serif;
  background: white;
  margin: auto;
  padding-bottom: 150px;
}

img {
  float: left;
  margin: 10px 50px 50px 50px;
}

.right-half {
  margin: 50px;
}

.learn-more a {
  position: absolute;
  background: black;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
  padding: 20px 20px;
  color: white;
}

.millennium {
  position: static;
  animation: fly 7s forwards infinite linear;
}

@keyframes fly {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(925px);
  }
}
